<?php
define("HOST","localhost");
define("USER","naizadmin");
define("PASSWORD","nbNxg2Vn#p2D4:W-ryr~5uyd5f^c3VVE");
define("DATABASE","naiztest09");

define("BASE_URL", "https://admin.naizapp.com/api/v1/user_web/");
?>